<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="KhaosBoxExplorer"
    Manufacturer="KhaosBox"
    Version="0.1.0"
    UpgradeCode="{E03B52F3-5CC2-496E-A8B1-72D41FB47BA9}"
    Language="1033"
    InstallerVersion="500"
    Scope="perUser">

    <SummaryInformation
      Description="KhaosBoxExplorer protocol handler for kbe URIs"
      Manufacturer="KhaosBox" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of KhaosBoxExplorer is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="KhaosBoxRootDir" Name="KhaosBox">
        <Directory Id="INSTALLFOLDER" Name="KhaosBoxExplorer" />
      </Directory>
    </StandardDirectory>

    <Feature Id="MainFeature" Title="KhaosBoxExplorer" Level="1">
      <ComponentRef Id="cmpKhaosBoxExplorerExe" />
    </Feature>
  </Package>

  <Fragment>
    <Component Id="cmpKhaosBoxExplorerExe" Directory="INSTALLFOLDER" Guid="{1B7B2281-A636-4266-A3B1-993A87F692D1}">
      <File
        Id="filKhaosBoxExplorerExe"
        Source="$(var.PublishDir)\KhaosBoxExplorer.exe" />

      <RemoveFolder Id="RemoveInstallFolder" Directory="INSTALLFOLDER" On="uninstall" />
      <RemoveFolder Id="RemoveKhaosBoxRootDir" Directory="KhaosBoxRootDir" On="uninstall" />

      <RegistryKey Root="HKCU" Key="Software\Classes\kbe" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
        <RegistryValue Type="string" Value="URL:KhaosBoxExplorer Protocol" />
        <RegistryValue Name="URL Protocol" Type="string" Value="" />

        <RegistryKey Key="DefaultIcon">
          <RegistryValue Type="string" Value="[#filKhaosBoxExplorerExe]" />
        </RegistryKey>

        <RegistryKey Key="shell\open\command">
          <RegistryValue Type="string" Value="&quot;[#filKhaosBoxExplorerExe]&quot; &quot;%1&quot;" />
        </RegistryKey>
      </RegistryKey>

      <RegistryKey Root="HKCU" Key="Software\KhaosBox\KhaosBoxExplorer" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
        <RegistryValue Name="Installed" Type="integer" Value="1" KeyPath="yes" />
        <RegistryValue Name="InstallPath" Type="string" Value="[INSTALLFOLDER]" />
      </RegistryKey>
    </Component>
  </Fragment>
</Wix>
